<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>lOGIN</title>
</head>

<body>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Año</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in usuario %}
            <tr>
                <td>{{reg.nombre}}</td>
                <td>{{reg.correo}}</td>
                <td>{{reg.contraseña}}</td>
                <td>{{reg.direccion}}</td>
                <td>{{reg.telefono}}</td>
                <td>{{reg.fecha_nacimiento}}</td>
                <td>
                    <a href="http:/editar/{{reg.id}}" role="button" class="btn btn-warning">
                    Editar
                </a> | 
                <a href="http:/eliminar/{{reg.id}}" role="button" class="btn btn-danger">
                        Eliminar
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Año</th>
                <th>Accion</th>
            </tr>
        </tfoot>
    </table>
</body>

</html>